@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,900,50&display=swap'); /*font-family: 'Poppins', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Cherry+Swash:wght@700&display=swap'); /*font-family: 'Cherry Swash', serif;*/
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap'); /*font-family: 'Alfa Slab One', serif;*/
@font-face {
    font-family: ematane;
    src: url("../assets/fonts/Fatal\ Fighter.otf"); 
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    max-width: 100vw;
    height: 100vh;
    font-family: "Poppins", sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
li{
    list-style-type: none;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.hidden{
    overflow: hidden;
}
.abs{
    position: absolute;
}
.rel{
    position: relative;
}
.fxd{
    position: fixed;
}
.al-c{
    display: flex;
    align-items: center;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.evenly{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.bR{
    border:1px solid red;
}
.bT{
    border:1px solid teal;
}
.size-f{
    width: 100%;
    height: 100%;
}
.font1{
    font-family: ematane;
}
.font2{
    font-family: "Poppins", sans-serif;
}
.invisible{
    display: none;
}
.visible{
    display: flex;
}
.bxs-heart{
    color: red;
    /* transition: 0.3s ease; */
    animation: scale 0.25s ease;
}
.banner{
    width: auto;
    padding: 0 20%;
    height: 50%;
    background-color: gold;
    bottom: 85%;
    right: -25%;
    color: black;
    font-size: 1.1vh;
}
.marquee{
    animation: marquee 20s linear infinite;
}
.marqueE{
    animation: marqueE 20s linear infinite;
}
/* end of custom */


/* Desktop view styling */
header{
    width: 100%;
    height: 12%;
    top: 0;
    background-color: white;
    /* border-bottom: 1px solid black; */
    z-index: 5;
    box-shadow: 0 1px 10px 0px #aaa;
}
header nav{
    width: 70%;
    height: 100%;
    margin: 0 15%;
    background-color: rgb(255, 255, 255, 0.3);
    backdrop-filter: blur(14.7px);
    -webkit-backdrop-filter: blur(14.7px);
}
header nav>div{
    width: 100%;
    height: 50%;
}
div#top>#contacts{
    height: 100%;
    width: auto;
}
div#top>#contacts>ul>li{
    width: auto;
    height: auto;
}
div#top>#contacts>ul>li:last-child{
    margin-left: 2.5vh;
    
}
div#top>#contacts>ul>li>a{
    text-align: justify;
    font-size: 1.5vh;
    padding: 0.5vh 0;
    transition: 0.1s linear;
}
div#top>#contacts>ul>li>a:hover{
    border-bottom: 0.5vh solid black;
}
#links{
    height: 100%;
    width: 20%;
}
#links>li{
    height: 100%;
    width:50%;
    justify-content: end;
}
#links>li>button{
    font-size: 1.5vh;
    cursor: pointer;
}
#links>li:first-child>button{
    padding: 8% 20%;
    border-radius: 5vh;
    color: black;
    border: 1px solid black;
    background-color: white;
    transition: 0.2s linear;
}
#links>li:first-child>button:hover{
    background-color: rgba(192, 192, 192, 0.294);
    box-shadow: 0 0 1px 1px #aaa;
    border: none;
    color: rgba(0, 0, 0, 0.6);
}
#links>li:last-child>button{
    padding: 8% 20%;
    border-radius: 5vh;
    color: rgb(255, 255, 255, 0.9);
    text-shadow: 0 0 2px black;
    border: 1px solid black;
    background: black;
    transition: 0.3s ease;
}#links>li:last-child>button:hover{
    color: white;
}
#logo{
    font-size: 2.5vh;
}
#categories{
    height: 100%;
    width: 40%;
}
#categories>button{
    font-size: 1.5vh;
    padding: 1.8% 4%;
    border-radius: 0.5vh;
    border: 0.1px solid rgb(0, 0, 0, 0.5);
    background: transparent;
    cursor: pointer;
    transition: 0.1s ease;
}
#categories>button:hover{
    transform: translate(2%, -2%);
    box-shadow: -2px 2px 1px 1px black;
    border: 1px solid black;
}
#icons{
    width: 10%;
    height: 100%;
}
#icons>button{
    padding: 3%;
    background-color: transparent;
    border-radius: 0.5vh;
    box-shadow: 0 0 1px 1px #aaa;
    border: none;
    cursor: pointer;
    transition: 0.1s ease;
}
#icons>button:hover{
    transform: translate(2%, -2%);
    box-shadow: -2px 2px 1px 1px black;
}
#icons>button>i{
    font-size: 2.5vh;
}


article#login-article{
    background: rgb(0, 0, 0, 0.9);
    z-index: 10;
    top: 0;
}
article>#login{
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    background-color: white;
    backdrop-filter: blur(10.3px);
    -webkit-backdrop-filter: blur(10.3px);
    animation: slide 0.5s ease;
}
#login>div>div{
    font-size: 2.5vh;
    margin-left: 2.5%;
}
#login>div>button{
    background-color: transparent;
    padding: 1%;
    font-size: 5vh;
    border: none;
    cursor: pointer;

}
#login form{
    width: 100%;
    height:50%;
}
#login>form>p{
    margin:5% 0;
    text-align: center;
    font-size: 2vh;
}
#login>form>div{
    width: 80%;
    height: 20%;
    margin: 0% 10%;
}
#login>form>div>p{
    width: 100%;
    height: 50%;
    text-align: justify;
    font-size: 1.7vh;
    font-weight: 50;
}
#login>form>div>input{
    width: 100%;
    height: 50%;
    border-radius: 1.5vh;
    border: 1px solid black;
    font-size: 1.7vh;
    padding-left: 7.5%;
}
#login>form>button{
    width: 80%;
    height: 10%;
    margin: 2.5% 10%;
    font-size: 1.7vh;
    border-radius: 1.5vh;
    background: black;
    color: white;
    cursor: pointer;
}
#login>form>h4{
    width: auto;
    font-size: 1.7vh;
    padding: 0 10%;
}
#login>form>h4>a{
    text-decoration: underline;
}
#login>button{
    width: 80%;
    height: 5%;
    margin: 5% 10%;
    bottom: 0;
    border-radius: 1.5vh;
    border: 1px solid black;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.7vh;
}
#login>button:hover{
    background: black;
    color: white;
}

article#signup-article{
    background: rgb(0, 0, 0, 0.9);
    z-index: 10;
    top: 0;
    left: 0;
}
article>#signup{
    top:0;
    right: 0;
    width: 20%;
    height: 100%;
    background-color: white;
    backdrop-filter: blur(10.3px);
    -webkit-backdrop-filter: blur(10.3px);
    animation: slide 0.5s ease;
}
#signup>div>div{
    font-size: 2.5vh;
    margin-left: 2.5%;
}
#signup>div>button{
    background-color: transparent;
    padding: 1%;
    font-size: 5vh;
    border: none;
    cursor: pointer;
}
#signup form{
    width: 100%;
    height:50%;
}
#signup>form>p{
    margin:5% 0;
    text-align: center;
    font-size: 2vh;
}
#signup>form>div{
    width: 80%;
    height: 20%;
    margin: 0% 10%;
}
#signup>form>div>p{
    width: 100%;
    height: 50%;
    text-align: justify;
    font-size: 1.7vh;
    font-weight: 50;
}
#signup>form>div>input{
    width: 100%;
    height: 50%;
    border: 1px solid black;
    font-size: 1.7vh;
    padding-left: 7.5%;
    border-radius: 1.5vh;
}
#signup>form>button{
    width: 80%;
    height: 10%;
    margin: 2.5% 10%;
    font-size: 1.7vh;
    background: black;
    color: white;
    cursor: pointer;
    border-radius: 1.5vh;
}
#signup>form>h4{
    width: 65%;
    margin: 0 17.5%;
}
#signup>form>h4>a{
    text-decoration: underline;
}
#signup>button{
    width: 80%;
    height: 5%;
    margin: 5% 10%;
    bottom: 0;
    border-radius: 1.5vh;
    border: 1px solid black;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.7vh;
}
#signup>button:hover{
    background: black;
    color: white;
}


main{
    width: 100%;
    height:75%;
    margin-top: 6%;
}
main>div>img{z-index: 1;
    filter: blur(5px);
}
main>section{
    width: 70%;
    height: 100%;
    z-index: 3;
}
.slide-me{
    transition: 0.5s ease;
}
main>section>.text{
    top: 0;
    z-index: 4;
    left: 50%;
    top: 50%;
    width: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 2px black;
    display: grid;
}
main>section>.text>p{
    font-size: 2.5vh;
    font-weight:900;
    color: white;
}
main>section>.text>h1{
    font-size: 13vh;
    color: white;
    opacity: 0.8;
}

section#search{
    width: 100%;
    height: 25%;
    border-radius: 0.5vh;
    /* background-color: teal; */
}
#search>.theme{
    width: 100%;
    height: 25%;
    background-color: white;
    color: rgb(0, 0, 0, 0.4);
    font-size: 1.7vh;
    display: flex;
}
.logoIMG{
    height: 100%;
    width: 20%;
    margin-right: 1%;
}
.logoIMG>img{
    object-fit: contain;
}
.two{
    left: 100%;
    /* margin-left: 5%; */
}
.theme1{
    top: 5%;
}.theme2{
    bottom: 5%;
}
#search>form{
    height: 60%;
}
#search>form>input{
    width: 45%;
    height: 50%;
    padding-left: 2.5%;
    border-radius: 5px 0 0 50px;
    border: 1px solid grey;
    border-right-color: transparent;
    outline: none;
    font: 3vh;
    font-size: 1.7vh;
}#search>form>input::placeholder{
    font-family: "Poppins", sans-serif;
    font-size: 1.7vh;
}
#search>form>button{
    width: 5%;
    height: 50%;
    border-radius: 0 50px 5px 0;
    border: 1px solid grey;
    transition: 0.2s ease;
    cursor: pointer;
    background-color: black;
}
/* #search>form>button:hover{
    background-color: black;
    color: white;
    border: 3px solid black;
} */
#search>form>button>i{
    color: white;
    font-size: 3vh;
}

section#items-list{
    width: 70%;
    height: auto;
    margin: 0 15%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5vh;
}
section#items-list>.card{
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 45vh;
    margin: auto;
    border-radius: 2vh;
    transition: 0.1s ease;
}
section#items-list>.card:hover{
    transform: translate(1px, -1px);
    border: 1px solid rgba(0, 0, 0, 0.6);
    /* box-shadow: -1px 1px 1px 1px rgba(0, 0, 0); */
    box-shadow: -1px 1px 2px 0px rgba(0, 0, 0, 0.5);
}
section#items-list>.card>#item-img{
    height: 67%;
    cursor:zoom-in;
    cursor:-moz-zoom-in;
    overflow: hidden;
}
section#items-list>.card>#tag{
    bottom: 0;
    width: 100%;
    height: 30%;
}
section#items-list>.card>#tag>button{
    right: 7%;
    top: 2%;
    font-size: 3vh;
    padding: 3%;
    border-radius: 50%;
    border: 1px solid silver;
    background: transparent;
    cursor: pointer;
    /* color: red; */
}
section#items-list>.card>#tag>h3, section#items-list>.card>#tag>p{
    width: 93%;
    height: 25%;
    margin: 0 7%;
    font-size: 1.9vh;
}
section#items-list>.card>#toCart{
    bottom: 5%;
    width: 90%;
    height: 10%;
    margin: 0 5%;
    border: 1px solid silver;
    border-radius: 1vh;
    font-size: 1.75vh;
    transform: 0.1s ease;
    cursor: pointer;
}
section#items-list>.card>#toCart>i{
    font-size: 3vh;
}


#modal-article{
    background: rgb(0, 0, 0, 0.9);
    z-index: 10;
    left: 0;
    top: 0;
    transition: 0.3s ease;
}
#modal>button{
    top: 0;
    right: 0;
    z-index: 4;
    font-size: 5vh;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
#modal{
    width: 50%;
    height: 70%;
    background-color: transparent;
    border-radius: 1.5vh;
    overflow: hidden;
}
.modal-view{
    width: 50%;
    height: 100%;
}
#modal-img>img{
    object-fit:cover;
    cursor: pointer;
}
#modal-desc{
    background-color: white;
    /* background-image:url("../assets/images/rainy.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
}
#modal-desc>#add{
    bottom: 35%;
    width: 50%;
    height: 7.5%;
    margin: 0 25%;
    border-radius: 5vh;
    border: 1px solid grey;
    font-size: 1.8vh;
    cursor: pointer;
    transition: 0.2 ease;
    background-color: white;
}
#modal-desc>#add>i{
    font-size: 3vh;
}
#modal-desc>#add:hover{
    background-color: black;
    color: white;
}
#modal-desc>h1{
    font-size: 3.5vh;
    width: 100%;
    padding: 7.5% 0;
    margin-top: 35%;
}
#modal-desc>h2{
    font-size: 3vh;

}
#modal-desc>p{
    font-size: 3vh;

}

article#cart-article{
    background: rgb(0, 0, 0, 0.9);
    z-index: 10;
    top: 0;
}
article>#cart{
    left: 0;
    width: 25%;
    height: 100%;
    background-color: white;
    backdrop-filter: blur(10.3px);
    -webkit-backdrop-filter: blur(10.3px);
    animation: slidee 0.5s ease;
}
#cart>div>div{
    font-size: 2.5vh;
    margin-left: 2.5%;
}
#cart>div>button{
    background-color: transparent;
    padding: 1%;
    font-size: 5vh;
    border: none;
    cursor: pointer;
}
#cart>p{
    width: 100%;
    font-size: 2vh;
    text-align: center;
    padding: 5% 0;
}
#cart-list{
    width: 100%;
    height: 70%;
    border: 1px solid teal;
    margin-bottom: 2%;
    /* overflow-y: scroll; */
    overflow-x: hidden;
}
#cart-list>.tab{
    background-color: black;
    width: 95%;
    height: 15%;
    margin: 2.5% 2.5%;
}
#cart-list>.tab>button{
    color:white;
    right: 0;
    height: 100%;
    width: 20%;
    background-color: rgb(0, 0, 0, 0.4);
    font-size: 5vh;
    outline: none;
}
.fee{
    width: 100%;
    height: 4%;
    padding: 0 10%;
    font-size: 1.5vh;
}

#cart>button{
    width: 80%;
    height: 5%;
    margin: 5% 10%;
    bottom: 0;
    border-radius: 1.5vh;
    border: 1px solid black;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.7vh;
}
#cart>button:hover{
    background: black;
    color: white;
}

#addedToCart{
    border: 2.5px solid rgb(85, 213, 85);
    left: 50%;
    top: 20%;
    background-color: white;
    width: 20vw;
    height: 5vh;
    border-radius: 50px;
    font-size: 2vh;
    transform: translate(-50%, -20%);
    z-index: 10;
    animation: scaleCart 0.2s ease;
    color: rgb(85, 213, 85);
    text-shadow: 0 0 1px lime;
}

article#wish-article{
    background: rgb(0, 0, 0, 0.9);
    z-index: 10;
    top: 0;
}
article>#wish{
    left: 0;
    width: 25%;
    height: 100%;
    background-color: white;
    backdrop-filter: blur(10.3px);
    -webkit-backdrop-filter: blur(10.3px);
    animation: slidee 0.5s ease;
}
#wish>div>div{
    font-size: 2.5vh;
    margin-left: 2.5%;
}
#wish>div>button{
    background-color: transparent;
    padding: 1%;
    font-size: 5vh;
    border: none;
    cursor: pointer;
}
#wish>p{
    width: 100%;
    font-size: 2vh;
    text-align: center;
    padding: 5% 0;
}
#wish>button{
    width: 80%;
    height: 5%;
    margin: 5% 10%;
    bottom: 0;
    border-radius: 1.5vh;
    border: 1px solid black;
    background-color: transparent;
    cursor: pointer;
}
#wish>button:hover{
    background: black;
    color: white;
}

article#side-menu{
    background-color: rgb(0, 0, 0);
    width: 14%;
    height: 88%;
    left: 0;
    top: 12%;
    animation: slidee 0.5s ease;
}
article#side-Menu{
    background-color: rgb(0, 0, 0);
    width: 14%;
    height: 88%;
    right: 0;
    top: 12%;
    animation: slide 0.5s ease;
}
#side-menu>img, #side-Menu img{
    opacity: 0.4;
}
/* mobile view styling */
@media only screen  and (max-width : 550px) {
    body{height: 100svh;max-width: 100vw;}
    main{
        height: 50%;
    }
    main>section{width: 100%;height: 100%;}
    main>section>.text{
        width: 100%;
        height: 20%;
        left: 50%;
        top: 60%;
        transform: translate(-50%, -60%);
    }
    main>section>.text>h1{
        font-size: 5vh;
        height: auto;
        text-align: center;
    }
    main>section>.text>p{
        height: auto;
        font-size: 1.8vh;
    }
    section#items-list{
        gap: 1%;
        left: 0;
        margin: 0;
        position: absolute;
        width: 100%;
        grid-template-columns: 1fr 1fr;
    }
    header{
        max-width: 100vw;
    }
    header nav{
        display: none;
    }
    section#items-list>.card{
        width: 100%;
        height: 30vh;
    }
    section#items-list>.card>#toCart{
        width: 80%;margin: 0 10%;
        font-size: 1.5vh;
        bottom: 3%;
    }
    section#items-list>.card>#toCart>i{
        font-size: 2vh;
    }
    section#items-list>.card>#tag>h3, section#items-list>.card>#tag>p{
        font-size: 1.5vh;
    }
    section#items-list>.card>#tag>button{
        font-size: 2.5vh;
        padding: 2.5%;
        right: 10%;
    }
    section#items-list>.card>#tag>h3, section#items-list>.card>#tag>p{
        margin: 0 11%;
    }

    article#side-menu{
        display: none;
    }
    article#side-Menu{
        display: none;
    }

    section#search{
        /* border: 5px solid red; */
    }
    #search>form{
        height: 40%;
    }
    #search>form>input{
        width: 70%;
        border-radius: 5px 0 0 5px;
    }
    #search>form>button{
        border-radius: 0 5px 5px 0;
        width: 15%;
    }
}


/* animations */
@keyframes slide {
    from{
        transform: translateX(100%);
    }to{
        transform: translateX(0%);
    }
}
@keyframes slidee {
    from{
        transform: translateX(-100%);
    }to{
        transform: translateX(0%);
    }
}
@keyframes scale {
    from{
        transform: scale(0.7);
    }to{
        transform: scale(1);
    }
}
@keyframes scaleCart {
    from{
        transform: translate(-50%, -20%) scale(0.5);
    }to{
        transform: translate(-50%, -20%) scale(1);
    }
}
@keyframes marquee {
    from{
        transform: translate(0%);
    }
    to{
        transform: translate(-100%);
    }
}
@keyframes marqueE {
    from{
        transform: translate(-100%);
    }
    to{
        transform: translate(0%);
    }
}